* {
    font-family: Arial, Helvetica, sans-serif;
}

#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #62b478;
    color: white;
    border: 3px solid lightslategray;
}

#topbar ul{
    list-style-type: none;
    text-align: right;
    margin-right: 140px;
}

#sidebar {
    width: 175px; 
    background-color: #c5e6cf;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    transition: width 0.3s; 
    border: 3px solid lightslategray;
}

#sidebar:hover {
    width: 250px; 
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    margin: 0;
}

#sidebar a, #topbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#sidebar a:hover, #topbar a:hover {
    background-color: #98e5ae;
    color: #000;
}

h1 {
    margin: 0;
}

p {
    margin-left: 1.5rem;
    line-height: 21px;
}

li {
    line-height: 21px;
}

code {
    display: block;
    white-space: pre-line;
    word-wrap: normal;
    word-break: normal;
    line-height: 2;
    margin: 10px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    font-family: monospace;
}

main, header {
    transition: margin-left 0.3s;
    margin-left: 220px;
    padding: 20px;
}

.topbar-button {
    display: inline-block;
    float: right;
}


