#sidebar {
    width: 160px; 
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    transition: width 0.3s; 
}

#sidebar:hover {
    width: 250px; 
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    margin: 0;
}

#sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#sidebar a:hover {
    background-color: #ddd;
    color: #000;
}

h1 {
    margin: 0;
}

p {
    margin-left: 1.5rem;
    line-height: 21px;
}

li {
    line-height: 21px;
}

main, header {
    margin-left: 200px;
    padding: 20px;
}

code {
    display: block;
    white-space: pre-line;
    word-wrap: normal;
    word-break: normal;
    line-height: 2;
    margin: 10px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    font-family: monospace;
}